*{
    margin: 0px;
    padding: 0px;
}
.page-section{
    padding: 6rem;
    background-image: linear-gradient(45deg,skyblue,purple);
    background-size: cover;

}
.section-heading{
    font-weight: bold;
    margin-bottom: 1rem;
}
.section-subheading{
    margin-bottom: 4rem;
    color: aquamarine;
}